name: tests

on:
  - push

env:
  CI: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 17.x
      - run: npm install
      - run: npm run lint

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 11.x # deprecated
          - 12.x # maintainence ends 2022-04-30
          - 13.x # deprecated
          - 14.x # maintainence ends 2023-04-30
          - 16.x # maintainence ends 2024-04-30
          - 17.x # maintainence ends 2022-06-01
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run build --if-present
      - run: npm test

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: npm install
      - run: npm run build --if-present
      - run: npm run test:coverage
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
